body {
    font-size: 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: rgb(255, 234, 234);
}

header {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >.enter-task {
        display: flex;

        #taskInput {
            margin: 0 1rem 0 0;
            border: none;
            min-height: 30px;
            min-width: 15rem;
            border-radius: 0.25rem;

            &:focus,&:hover{
                outline-color: rgb(176, 231, 255);
                background-color: rgb(216, 243, 255);
            }

        }
        #addBtn{
            display: flex;
            align-items: center;
            font-weight: bolder;
            border: none;
            border-radius: 0.25rem;
            
            background-color: rgb(255, 192, 192);
            &:hover{
                box-shadow: 0 1px 3px;
                background-color: rgb(255, 122, 122);
            }
        }
    }
}

#taskList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0.5rem;

    .list {
        padding: 0.5rem;
        display: flex;

        *{
            display: flex;
            align-items: center;
            border-radius: 0.25rem;
        }
        .editText {
            min-width: 14.525rem;
            padding: 0.5rem;
            border: none;
            background-color: rgb(216, 243, 255);
            &:focus{
                outline-color: rgb(176, 231, 255);
            }
        }
        button{
            border: none;
        }
        .editBtn{
            margin: 0 1rem 0 1rem;
            background-color: rgb(142, 184, 253);
            &:hover{
                background-color: rgb(104, 162, 255);
                box-shadow: 0 1px 3px;
            }
        }
        .delBtn{
            background-color: rgb(255, 136, 136);
            &:hover{
                background-color: rgb(255, 61, 61);
                box-shadow: 0 1px 3px;
            }
        }
        
    }
}

.taskText {
    background-color: rgb(255, 121, 95);
    padding: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 15rem;
}
.material-symbols-outlined{
    font-variation-settings: 
    'FILL' 0,
    'wght' 350;
}