body {
    background-color: rgb(58, 58, 58);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        color: rgb(0, 195, 255);
    }

    h2 {
        color: rgb(48, 151, 255);
        font-size: 1.25rem;
        text-align: center;
    }

    input {
        height: 1.5rem;
        padding: 0.25rem 0 0.25rem 1rem;
        margin: 0 1rem 0 0;
        border-radius: 0.5rem;
        outline: none;

        &:hover {
            background-color: rgb(255, 255, 255);
            box-shadow: 3px 5px rgb(213, 213, 213);
        }

        &:focus {
            background-color: rgb(52, 52, 52);
            border: 2px solid rgb(87, 87, 87);
            color: white;

            &:hover {
                border: 2px solid rgb(87, 87, 87);
                box-shadow: none;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
}

.item-adder {
    display: flex;
    align-items: center;

    input {
        height: 1.5rem;
        padding: 0.25rem 0 0.25rem 1rem;
        margin: 0 1rem 0 0;
        width: 20rem;
        border-radius: 0.5rem;
        outline: none;
        color: white;
        font-weight: 500;
        font-size: medium;
        overflow-wrap: break-word;

        &:focus {
            background-color: rgb(52, 52, 52);
            border: 2px solid rgb(87, 87, 87);
            &:hover {
                border: 2px solid rgb(87, 87, 87);
                box-shadow: none;
            }
        }

        &:hover {
            border: none;
            box-shadow: 3px 5px rgb(213, 213, 213);
        }

    }

    button {
        height: 2.25rem;
        border: 2px solid rgb(133, 133, 133);
        background-color: rgb(224, 224, 224);

        span {
            display: flex;
            align-items: center;
            color: black;
            font-variation-settings: 'wght' 400, 'opsz' 40;
        }

        &:hover {
            background-color: rgb(51, 51, 51);

            span {
                color: white;
                font-variation-settings: 'wght' 800, 'opsz' 80;
            }

            &:active {
                background-color: black;
            }
        }
    }
}

.items {
    #itemsList {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30rem;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(79, 73, 73);
            border-radius: 5px;
        }
    }

    li {
        padding: 0.25rem 1rem 0.25rem 1rem;
        margin: 0.5rem;
        background-color: aqua;
        list-style: none;
        width: 15rem;
        display: flex;
        justify-content: space-between;
        border-radius: 0.5rem;

        button {
            background-color: rgb(255, 161, 161);
            border: 3px solid balck;

            &:hover {
                background-color: rgb(255, 96, 96);
                box-shadow: 1px 3px 5px 0;
                border-color: rgb(8, 6, 6);

                span {
                    font-variation-settings: 'wght' 300;
                }
            }
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-variation-settings: 'wght' 200;

        }

        .itemInfo {
            margin: 0 0.5rem 0 0;
            white-space: pre;
            overflow: auto;
            text-overflow: ellipsis;
            scrollbar-width: none;
        }
    }
}